#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 111px 16px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 16px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.book-card {
  font-family: roboto, sans-serif;
  display: flex;
  text-align: left;
  padding: 15px;
  gap: 16px;
  background: white;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  box-shadow: 0px 51px 80px rgba(0, 0, 0, 0.04),
    0px 21.3066px 33.4221px rgba(0, 0, 0, 0.0287542),
    0px 11.3915px 17.869px rgba(0, 0, 0, 0.0238443),
    0px 6.38599px 10.0172px rgba(0, 0, 0, 0.02),
    0px 3.39155px 5.32008px rgba(0, 0, 0, 0.0161557),
    0px 1.4113px 2.21381px rgba(0, 0, 0, 0.0112458);
}

.book-card > img.cover {
  width: 125px;
  height: 200px;
}

.book-card > img.trash-can {
  width: 21px;
  height: 21px;
}

.book-card > .info > p {
  width: 348px;
  font-family: SF Pro Display, sans-serif;
  font-size: 14px;
  font-weight: 400px;
  line-height: 21px;
}
