#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 111px 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
  gap: 16px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
}
