:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 42px;
  line-height: 1.1;
  margin: 0px;
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0px;
  margin-bottom: 10px;
}

h4 {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  color: #5f5f5f;
  margin: 0px;
  margin-bottom: 10px;
}

button {
  border-radius: 6px;
  border: 2px solid transparent;
  padding: 14px 22px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  background-color: #199c7d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #1ba282;
}
button:focus,
button:focus-visible {
  outline: 2px solid #61c38c;
}
button:disabled {
  background-color: #9f9f9f;
}

label {
  font-family: SF Pro Display, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}

input,
textarea {
  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 14px 12px;
  background-color: #fff;
}

input {
  height: 50px;
  box-sizing: border-box;
}

textarea {
  height: 109px;
  box-sizing: border-box;
}

input:focus,
input:focus-visible,
textarea:focus,
textarea:focus-visible {
  outline: 2px solid #61c38c;
}
